@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #000000, #19191955), url(assets/Mountains.jpg);
    background-position: center;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 50px white;
    height: 40vh;
    margin-bottom: 10vh;
}

.lists {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: center;
    width: 80%;
    color: white;
    font-family: SORA;
    margin-bottom: 10vh;
}

ol,ul,dl {
    width: 30%;
}

.home {
    align-self: center;
}
.home button {
    font-family: "Sora", sans-serif;
    width: 70px;
    height: 50px;
    color: white;
    background: none;
    border: 2px  solid #369bed;
    border-radius: 25px;
    box-shadow: 0 0 100px #369bed;
    animation: colorChange 10s infinite;
    animation-timing-function: linear;
    transition: 0.2s;
    margin-top: 5vh;
    margin-bottom: 20vh;
}

button:hover {
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
    box-shadow: 0 0 150px;
    cursor: pointer;
}

@keyframes colorChange {
    0% {
        box-shadow: 0 0 100px #363ced;
        border-color: #363ced;
    }
    10% {
        box-shadow: 0 0 100px #1295ff;
        border-color: #1295ff;
    }
    20% {
        box-shadow: 0 0 100px #33ffbe;
        border-color: #33ffbe;
    }
    30% {
        box-shadow: 0 0 100px #33ff4b;
        border-color: #33ff4b;
    }
    40% {
        box-shadow: 0 0 100px #b8ff33;
        border-color: #b8ff33;
    }
    50% {
        box-shadow: 0 0 100px #ffe733;
        border-color: #ffe733;
    }
    60% {
        box-shadow: 0 0 100px #ff9633;
        border-color: #ff9633;
    }
    70% {
        box-shadow: 0 0 100px #ff5733;
        border-color: #ff5733;
    }
    80% {
        box-shadow: 0 0 100px #ff3333;
        border-color: #ff5733;
    }
    90% {
        box-shadow: 0 0 100px #ff33be;
        border-color: #ff33be;
    }
    100% {
        box-shadow: 0 0 100px #b336ed;
        border-color: #b336ed;
    }
}